<footer>
    <div class="BasPage">
        <h3>Help</h3>
        <p>contact@pandora.com</p>
        <a style="text-decoration:none" href="/"><p>Contact us</p></a>
    </div>
    <div class="BasPage">
        <h3>Project</h3>
        <a style="text-decoration:none" href="https://github.com/VincentNOURY/Pandora/"><p>GitHub</p></a>
        <a style="text-decoration:none" href="/"><p>Procedure</p></a>
    </div>
    <div class="BasPage">
        <h3>Where to find us</h3>
        <a style="text-decoration:none" href="https://www.efrei.fr/"><p>Efrei</p></a>
        <a style="text-decoration:none" href="https://uci.edu/"><p>UCI</p></a>
    </div>
</footer>