<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pandora</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <section>
        <h1>404 Not found</h1>
    </section>
<%- include('../partials/footer') %>
</body>
</html>