<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pandora</title>
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <div id='content'>
      <h1>Welcome to Pandora</h1>
      <img src="/images/pandoras_box.jpeg" alt="Pandora's box image">
    </div>
  </body>
</html>
