<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>PageThread</title>
		<link rel="stylesheet" href="/css/style.css" />
	</head>
	
	<body>
		<%- include('../partials/navbar') %>

		<section>
			<div class="contenu">
				<div class="boxThread">
					<div class="imbox">
						<div class="NomThread">
							<h3>Test 1</h3>
						</div>
						<div class="Description">
							<P>« J’ai questionné mon frère pour le
								renseignement que vous me demandez sur la
								famille de Faux. Vous savez comme il sait tout et
								comme il a des souvenirs, car il est toujours très
								bon royaliste. C’est de vrai une très ancienne
								famille normande de la généralité de Caen. Il y a
								cinq cents ans d’un Raoul de Faux, d’un Jean de
								Faux et d’un Thomas de Faux, qui étaient des
								gentilshommes, dont un seigneur de Rochefort.
							</P>
						</div>
					</div>
				</div>
			</div>
		</section>

		<%- include('../partials/footer') %>
	</body>