<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>random Thread</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    
    <section>
			<div class="FondIndex img1">
				<div class="BoxIndex">
					<h1>Topics</h1>
				</div>
				<div class="contenu">
					<div class="box">
						<div class="imbox">
							<a href="/" title= "Redirection to page : Random Thread"><img src="/images/index/ThreadRandom.jpg" alt="Photo : Random Thread" ></a>
						</div>
						<div class="text">
							<h3>Random Thread</h3>
						</div>
					</div>
					<div class="box">
						<div class="imbox">
							<a href="/" title= "Redirection to page : Tendency Thread"><img src="/images/index/ThreadTendency.jpg" alt="Photo : Tendency Thread" ></a>
						</div>
						<div class="text">
							<h3>Tendency Thread</h3>
						</div>
					</div>
					<div class="box">
						<div class="imbox">
							<a href="/" title= "Redirection to page : New Thread"><img src="/images/index/ThreadNew.jpg" alt="Photo : New Thread" ></a>
						</div>
						<div class="text">
							<h3>New Thread</h3>
						</div>
					</div>
				</div>
			</div>
		</section>
    
  </body>
</html>
