<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Pandora</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <div id='content'>
      <h1>Results</h1>
      <% results.forEach(function(result) { %>
        <h3>Thread name : <%= result.name %></h3>
        <p>Value 2 <%= result.value2 %><br>
        Value 3 <%= result.value3 %><br>
        </p>
        <br><br>
      <% }); %>
    </div>
  </body>
</html>
